:root {
	--backgroundCode: #000 !important;
	--backgroundCodeLine: #000 !important;
	--backgroundName: #000 !important;
	--backgroundDark: #000 !important;
	--backgroundDarker: #000 !important;
	--background-tertiary: #000 !important;
	--primaryGradient1: #121212 !important;
	--primaryGradient2: #121212 !important;
	--primary: #949494 !important;
}

.notice-3bPHh-.da-notice.colorStreamerMode-2SJAUN{
    background-color: #000 !important;
}

div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
	content: "Theme: Chases Discord Theme" !important;
	display: block;
}

.wordmarkWindows-1v0lYD.wordmark-2iDDfm.da-wordmarkWindows.da-wordmark{
	display: none !important;
}


@import url(https://raw.githubusercontent.com/FlashAL/Nocturnal-discord-theme/master/nocturnal/importCSS/circle_core.css);
